@model IEnumerable<QuizApplication.Models.Quiz>

@{    
    ViewData["Title"] = "Quiz Questions";    
} 


<form method="post">
    @foreach (var item in Model) {
        <div class=" container card  border-primary  mb-3">
            <div class="card-header">Question <span>@item.QuestionID</span></div>
            <div class="card-body text-primary">
                <h5 class="card-title">@item.Question</h5>
                <section class="card-text" id="option-section">
                    <div class="custom-control custom-radio">
                        @{ 
                            for(int i = 0; i < item.Options.Length; i++) {
                                <div class="form-check">
                                    <input 
                                    class="form-check-input is-checked" 
                                    value="@item.Options[i]"
                                    name="@item.QuestionID"
                                    id="check-@i"
                                    type="radio"
                                    />
                                    <label for="check-@i">@item.Options[i]</label>
                                </div>
                            }
                            <input class="btn btn-primary" type="submit" asp-action="Quiz" asp-route-id="@(item.QuestionID + 1)" class="btn btn-outline-primary" value="next" disabled/>
                        }
                    </div>
                </section>
            </div>
        </div>
    }
</form>
<script src="~/js/quiz.js"></script>
