@model IEnumerable<QuizApplication.Models.Quiz>

@{    
    ViewData["Title"] = "Quiz Questions";    
} 

<form method="post" asp-controller="Quiz" asp-action="quiz">
    @foreach (var item in Model) {
        <div class=" container card  border-primary  mb-3">
            <div class="card-header">Question <span>@item.QuestionID</span></div>
            <div class="card-body text-primary">
                <h5 class="card-title">@item.Question</h5>
                <section class="card-text" id="option-section">
                    <div class="custom-control custom-radio">
                        @{
                            for(int i = 0; i < item.Options.Length; i++) {
                                <div class="form-check">
                                    <input 
                                    class="form-check-input" 
                                    value="@item.Options[i]"
                                    name="@item.QuestionID"
                                    id="@item.Options[i]"
                                    type="radio" />
                                    <label for="@item.Options[i]">@item.Options[i]</label>
                                </div>
                            }
                        }
                    </div>
                </section>
                <input class="btn btn-primary" type="submit" asp-action="Quiz" class="btn btn-outline-primary" value="next"/>
            </div>
        </div>
    }
</form>